<div class="panel panel-primary">
    <div class="panel-body">
		<div class='row'>            
			<label class="col-md-1 control-label" 
							   for="projectId">Project</label>
			<div class="col-md-4">
				<input class="form-control" 
					   id="projectId" 
					   type="text" 
					   readonly 
					   placeholder="Select Project ID" 
					   [(ngModel)]="projectId" />
			</div>	
			<div class="col-md-1">					
				<button class="btn btn-default float-right"
						type="button" (click)='showModalPopUp(projModal)'>
					Search
				</button>					
			</div>
			<div class="col-md-6" align=right>
				<span>
					Sort Task By:					
				</span>
				<span>
					<button class="btn btn-default" type="button" 
					 (click)="sort('startDate')">
						Start Date
					</button>
				</span>
				<span>
					<button class="btn btn-default" type="button" 
					 (click)="sort('endDate')">
						End Date
					</button>
				</span>
				<span>
					<button class="btn btn-default" type="button" 
					 (click)="sort('priority')">
						Priority
					</button>
				</span>
				<span>
					<button class="btn btn-default" type="button" 
					 (click)="sort('status')">
						Completed
					</button>
				</span>
			</div>            
		</div>
		<hr class='dotted-hr'/>
		<div class='table-responsive'>
            <table class='table' *ngIf='tasks && tasks.length'>
				<tbody>
					<tr>
						<th>Task</th>
						<th>Parent</th>
						<th>Priority</th>
						<th>Start</th>
						<th>End</th>
						<th></th>
						<th></th>
					</tr>
					<tr *ngFor='let task of tasks | orderBy: orderByKey : sortReverse'>
						<td>{{task.name}}</td>
						<td>{{task.parentTaskId | parentTaskName: tasks }}</td>
						<td>{{task.priority}}</td>
						<td>{{task.startDate | date:'MM/dd/yyyy'}}</td>
						<td>{{task.endDate | date:'MM/dd/yyyy'}}</td>
						<td>
							<button class="btn btn-default" type="button" (click)='editTask(task.id)'>
								Edit
							</button>
						</td>
						<td>
							<button class="btn btn-default" type="button" (click)='endTask(task.id)' 
								[disabled]="task.status == 'C' ">
								End Task
							</button>
						</td>						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<ng-template #projModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select Project ID</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
			<div style="margin-bottom:10px;">
                <input type='text' class="form-control" placeholder='Search...' [(ngModel)]='projectsFilter'/>
            </div>
			<div class='table-responsive'>
				<table class='table' *ngIf='projects && projects.length'>
					<tbody>
						<tr>
							<th></th>
							<th>ID</th>
							<th>Name</th>							
						</tr>
						<tr *ngFor='let project of projects'>
							<td><input name="project" type="radio" [value]="project"  [(ngModel)]="selectedProj" (change)='selectProject(selectedProj)' /></td>
							<td>{{project.id}}</td>
							<td>{{project.name}}</td>						
						</tr>
					</tbody>
				</table>					
			</div>
	</div>
	<div class="modal-footer text-right">
		<button class="btn btn-primary" type="button" (click)='closePopUp()'>OK</button>
	</div>
</ng-template>