<div class="panel panel-primary">
    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="save()"
              [formGroup]="projectForm">
            <fieldset>
                <div class="form-group"
                    [ngClass]="{'has-error': (projectForm.get('name').touched || 
                                              projectForm.get('name').dirty) &&
                                              !projectForm.get('name').valid }">
                    <label class="col-xs-2 control-label" 
                           for="nameId">Project Name</label>

                    <div class="col-xs-8">
                        <input class="form-control" 
                               id="nameId" 
                               type="text" 
							   placeholder="Project Name (required)" 
                               formControlName="name" />
                        <span class="help-block" *ngIf="(projectForm.get('name').touched || 
                                                         projectForm.get('name').dirty) && 
                                                         projectForm.get('name').errors">
                            <span *ngIf="projectForm.get('name').errors.required">
                                Please enter project name.
                            </span>
                            <span *ngIf="projectForm.get('name').errors.minlength">
                                The project name must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 col-xs-offset-2">
						<label>
						  <input type="checkbox" formControlName="setDates" (change)="toggleSetDates()"/> 
						  Set Start Date and End Date 
						</label>
						<input type="text" class="form-control" placeholder="Start Date - End Date" 
								bsDaterangepicker formControlName="dateRange" [bsConfig]="bsConfig" 
								[minDate]="minDate" [bsValue]="dateRangeInit" 
								style="margin-left: 10px; width: auto; display: inline-block;" /> 
					</div>
                </div>

                <div class="form-group">
                    <label class="col-xs-2 control-label" 
                        for="priorityId">Priority</label>

                    <div class="col-xs-8">
                        <input class="form-control" 
                               id="priorityId" 
                               type="range" 
							   min="0"
							   max="30"
							   step="1"
							   formControlName="priority" />  
						<span style='display: inline'>
							{{projectForm.get('priority').value}}
						</span>
                    </div>
                </div>
				<div class="form-group">
                    <label class="col-xs-2 control-label" 
                        for="managerId">Manager</label>

                    <div class="col-xs-6">
                        <input class="form-control" 
                               id="managerId" 
                               type="text" 
							   formControlName="managerId" />                        
                    </div>
					<div class="col-xs-2 text-right">
						<button class="btn btn-default" type="button" (click)="showManagerModal(mgrModal)">Search</button>
					</div>
                </div>

                <div class="form-group">
                    <div class="col-xs-8 col-xs-offset-2">
                        <span>
                            <button class="btn btn-primary float-right"
                                    type="submit"
                                    [disabled]="!projectForm.valid">
                                {{ isEdit ? 'Update' : 'Add' }}
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-default float-right"
                                    type="button" (click)='resetForm()'>
                                Reset
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
		<hr/>
		
        <div class='row'>
            <div class='col-sm-3 col-sm-offset-0'>
                <input class='form-control' type='text' placeholder='Search...' [(ngModel)]='listFilter'/>
            </div>
			<div class="col-sm-9 col-sm-offset-0">
				<span>
					Sort:					
				</span>
				<span>
					<button class="btn btn-default" type="button" 
					(click)="sort('startDate')" [ngClass]="{'btn-warning': this.orderByKey =='startDate'}">
						Start Date
					</button>
				</span>
				<span>
					<button class="btn btn-default" type="button" 
					(click)="sort('endDate')" [ngClass]="{'btn-warning': this.orderByKey =='endDate'}">
						End Date
					</button>
				</span>
				<span>
					<button class="btn btn-default" type="button" 
					(click)="sort('priority')" [ngClass]="{'btn-warning': this.orderByKey =='priority'}">
						Priority
					</button>
				</span>
				<span>
					<button class="btn btn-default" type="button" 
					(click)="sort('status')" [ngClass]="{'btn-warning': this.orderByKey =='status'}">
						Completed
					</button>
				</span>
            </div>
        </div>
		<hr class='dotted-hr'/>
		<div class='table-responsive'>
            <table class='table table-borderless table-striped' *ngIf='projects && projects.length'>
				<tbody>
					<tr *ngFor='let project of filteredProjects | orderBy: orderByKey: sortReverse'>
						<td>
							<table class='table table-borderless'>
								<tbody>
									<tr>
										<td>Project:</td>
										<td>{{ project.name }}</td>
										<td>Priority</td>
										<td>{{ project.priority }}</td>
										<td rowspan=2>
											<button class="btn btn-default" type="button" (click)='editProject(project)'>
												Update
											</button><br/>
										
											<button class="btn btn-default" type="button" 
											(click)='suspendProject(project.id)' [disabled]="project.status == 'S'">
												Suspend
											</button>
										</td>
									</tr>
									<tr>
										<td>No. of tasks:</td>
										<td>{{ project.taskCount }}</td>
										<td>Completed</td>
										<td>{{ project.status }}</td>										
									</tr>
									<tr>
										<td>Start Date</td>
										<td>{{ project.startDate | date: 'MM/dd/yyyy' }}</td>
										<td>End Date</td>
										<td>{{ project.endDate  | date: 'MM/dd/yyyy'}}</td>																					
									</tr>	
									
									
								</tbody>
							</table>
						</td>					
					</tr>
			</table>
		</div>
    </div>
</div>
<br>Dirty: {{ projectForm.dirty }} 
<br>Touched: {{ projectForm.touched }}
<br>Valid: {{ projectForm.valid }}
<br>Value: {{ projectForm.value | json }}
<br>Projects: {{ projects | json }}
<br>Projects: {{ projectForm.get('managerId').value }}


<ng-template #mgrModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select Manager ID</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
			<div style="margin-bottom:10px;">
                <input type='text' class="form-control" placeholder='Search...' [(ngModel)]='usersFilter'/>
            </div>
			<div class='table-responsive'>
				<table class='table' *ngIf='users && users.length'>
					<tbody>
						<tr>
							<th></th>
							<th>ID</th>
							<th>Name</th>							
						</tr>
						<tr *ngFor='let user of filteredUsers'>
							<td><input name="user" type="radio" [value]="user"  [(ngModel)]="selectedUser" (change)='selectUser()' /></td>
							<td>{{user.id}}</td>
							<td>{{user.firstName}} {{user.lastName}}</td>						
						</tr>
					</tbody>
				</table>					
			</div>
	</div>
	<div class="modal-footer text-right">
		<button class="btn btn-primary" type="button" (click)='closeUserPopUp()' [disabled]='!selectedUser'>OK</button>
	</div>
</ng-template>