<!--The whole content below can be removed with the new code.-->
<div>
	<div>
		<nav class='navbar navbar-default'>
			<div class='container-fluid'>
				<a class='navbar-brand' [routerLink]="['/welcome']">{{pageTitle}}</a>
				<ul class='nav navbar-nav'>
					<li><a [routerLink]="['/projects']">Add Project</a></li>
					<li><a [routerLink]="['/taskupdate']">Add Task</a></li>
					<li><a [routerLink]="['/users']">Add User</a></li>
					<li><a [routerLink]="['/tasks']">View Task</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class='container'>
		<router-outlet></router-outlet>
	</div>
</div>
